name: CI

on:
  push:
    branches:
    - master
    - Python
  pull_request:
    branches:
    - master
    - Python
    
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Compiling the source code
        run: (cd src && make)
      
      - name: Compiling tests
        run: (cd tests && make)
      
      - name: Executing tests
        run: (cd tests && make tests)
